@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  /*---------------------------------------
      Body             
  -----------------------------------------*/

  .body { 
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
   }
   .spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

   .overlay {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

  #home {
    background: url('./images/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 10em;
    text-align: left;
  }

  .home-info {
    background: transparent;
    border: 2px solid #f9f9f9;
    color: #f9f9f9;
  }
  #home h1 {
    color: #ffffff;
  }

  video{
    width:100%;
    height: auto;
  }

  .card-img{
    height: 200px;
    width: 200px;
  }
  
  .card{
    margin:1%;
  }

  .diseaseImg{
    height: 90px;
    width: 90px;
    border:lightslategrey solid;
  }
  
  .navbar-dark {
      background-color: #6da16a;
  }
  

  #about {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    background-color: #435974 ;
  }

  .col-content{
    display: flex;
    justify-content: center;
    padding: 10%;

  }

  #plant-directory{
    background: #568192;
  }
  
  .row-content{
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 2em;
  }

      /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
    letter-spacing: -1px;
  }

  h1 {
    color: #181818;
    font-size: 3em;
    margin-bottom: 30px;
  }

  h2 {
    color: #0a0a0a;
    font-size: 2em;
  }

  h3 {
    color: #1d1b1b;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
  }

  h4 {
    color: #0c0b0b;
    font-size: 18px;
    line-height: normal;
  }

  p {
    color:#0f0f0f;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
  }

  strong {
    font-weight: 500;
  }


  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: #252525;
    font-weight: normal;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #ce3232;
    outline: none;
  }

  .section-title h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .line-bar {
    color: #d9d9d9;
    display: block;
    font-size: 5em;
    line-height: 0;
    margin-bottom: 40px;
  }
  .plant-title{
    margin-top: 0;
    padding-top:5%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .plant-bar{
    color: #d9d9d9;
    display: block;
    font-size: 5em;
    line-height: 0;
  }
  .plant-content{
    margin: 5%;
    display: flex;
    justify-content: center;
    border: lightsalmon 2px solid;
  }

  .plants{
    margin:0;
    padding: 60px 10% 10% 10%;
    background-color:rgb(119, 170, 172);
  }
  .footer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    bottom: 0px;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
        .sm-hide{
            display: none;
        }
        .sm-show{
            width:100%;
        }
        .media-container{
          margin: 4%;
          padding:2%;
          justify-content: center;
        }
      .body{
        margin:0;
        padding:0;
      }
      #home{
       background: url('./images/home-mobile.jpg') no-repeat center center;
       background-size: cover;
      vertical-align: middle;
      width: inherit;
      }
      .home-info {
        margin: 5%;
      }
      #home {
        text-align: center;
      }
      h1 {
        font-size: 2em;
      }
      footer {
        text-align: center;
      }
      .plants{
        padding: 18%;
        margin: auto;
      }
  }